:root {
  --white: #fff;
  --black: #0f0f0f;
  --dark-gray: #1c1c1c;
  --gray: #4b4b4b;
  --medium-gray: #8c8c8c;
  --light-gray: #b2b2b2;
  --light-blue: #e3f2fd;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--light-blue);

  min-height: 100vh;
}

.container {
  width: 48.75rem;
  padding: 2.1875rem 2.5rem;
  border-radius: 1.25rem;

  color: var(--white);
  background-color: var(--black);
}

.container header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--light-gray);
}

header h2 {
  font-size: 1.6rem;
}

header .column {
  display: flex;
  align-items: center;
}

header .column span {
  margin-right: 1rem;

  font-weight: 500;
  font-size: 1.2rem;
}

.volume-slider input {
  accent-color: var(--white);
}

.keys-check input {
  width: 3.75rem;
  height: 1.875rem;

  appearance: none;

  border-radius: 1.875rem;
  background-color: var(--gray);

  position: relative;
  cursor: pointer;
}

.keys-check input::before {
  content: '';
  width: 1.25rem;
  height: 1.25rem;
  top: 50%;
  left: 0.3rem;
  
  background-color: var(--medium-gray);
  border-radius: inherit;

  transform: translateY(-50%);
  transition: all 0.3s ease;

  position: absolute;
}

.keys-check input:checked::before {
  left: 2.1rem;
  background-color: var(--white);
}

.piano-keys {
  display: flex;
  margin-top: 2.5rem;
}