:root {
  --white: #fff;
  --black: #0f0f0f;
  --dark-gray: #1c1c1c;
  --gray: #4b4b4b;
  --medium-gray: #8c8c8c;
  --light-gray: #b2b2b2;
  --light-blue: #e3f2fd;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--light-blue);

  min-height: 100vh;
}

.container {
  width: 48.75rem;
  padding: 2.1875rem 2.5rem;
  border-radius: 1.25rem;

  color: var(--white);
  background-color: var(--black);
}

.container header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--light-gray);
}

header h2 {
  font-size: 1.6rem;
}

header .column {
  display: flex;
  align-items: center;
}

header .column span {
  margin-right: 1rem;

  font-weight: 500;
  font-size: 1.2rem;
}

.volume-slider input {
  accent-color: var(--white);
}

.keys-check input {
  width: 3.75rem;
  height: 1.875rem;

  appearance: none;

  border-radius: 1.875rem;
  background-color: var(--gray);

  position: relative;
  cursor: pointer;
}

.keys-check input::before {
  content: '';
  width: 1.25rem;
  height: 1.25rem;
  top: 50%;
  left: 0.3rem;
  
  background-color: var(--medium-gray);
  border-radius: inherit;

  transform: translateY(-50%);
  transition: all 0.3s ease;

  position: absolute;
}

.keys-check input:checked::before {
  left: 2.1rem;
  background-color: var(--white);
}

.piano-keys {
  display: flex;
  margin-top: 2.5rem;
}

.piano-keys .key {
  color: var(--light-gray);
  text-transform: uppercase;

  list-style: none;
  position: relative;
  cursor: pointer;
}

.piano-keys .white {
  width: 4.375rem;
  height: 14.375rem;

  background: linear-gradient(#fff 96%, #eee 4%);
  border-radius: 0.625rem;
}

.piano-keys .black {
  width: 2.75rem;
  height: 8.75rem;
  z-index: 2;

  margin: 0 1.375rem 0 -1.375rem;
  border-radius: 0 0 0.3125rem 0.3125rem;

  background: linear-gradient(#333, #000);
}

.piano-keys span {
  width: 100%;
  position: absolute;
  bottom: 1.25rem;

  font-size: 1.125rem;
  text-align: center;
}

.piano-keys .white:active {
  box-shadow: inset -0.3125rem .3125rem 1.25rem rgba(0, 0, 0, 0.2);
  background: linear-gradient(#fff 0%, #eee 100%);
}

.piano-keys .black:active {
  box-shadow: inset -0.3125rem .3125rem 0.625rem rgba(255, 255, 255, 0.1);
  background: linear-gradient(#000, #434343);
}